* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}
body {
    width: 100vw;
    height: 100vh;
}
header {
    width: 100%;
    height: 100px;
    padding: 33px 165px 32px 165px;    
    background-color: #E1EDE6;
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.logo {
    width: 143px;
    height: 35px;
}
a {
    width: 111px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
    color: #2C2D35;
    text-decoration: none;
}
nav {
    width:470px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.menu_bar {
    display: none;
}
@media (max-width:400px) {
    header {
        width: 395px;
        height: 68px;
        align-items: center; 
        display: flex;
        background-color:#FFFFFF;
        flex-direction: row;
        justify-content: center;
    }
    a {
        width: 30px;
    }
    nav{
        display: none;
    }
    .menu_bar {
        height: 68px;
        margin-top: 16px;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #E1EDE6;
    }
}
.option {
    width: 30px;
    height: 30px;
    padding: 5.63px 4.69px 7.5px 4.69px;
}

.bucket {
    width: 30px;
    height: 30px;
    padding: 5.63px 4.69px 7.5px 4.69px;
}
.main_section {
    margin-left: calc(14vw - 41.6px);
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;

}
.left_side {
    width: calc(33vw + 64px);
}
.left_side img {
    width: calc(33vw + 64px);
}
.right_side {
    width: calc(23.9vw + 195px);
    height: 331px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: calc(8.1vw + 27.8px);
    h1 {
    font-family: 'Raleway';
    font-size: calc(2.87vw + 18.6px);
    font-weight: 500;
    }
    p {
    font-family: 'Raleway';
    font-size: calc(1vw + 12.4px);
    font-weight: 500;
    line-height: 27px;
    color: #86928B;
    }

    button {
        width: calc(6.7vw + 127px);
    height: 60px;
    border: 1px solid #598D66;
    text-align: center;
    align-items:center;
    background-color:transparent
    }
}

.card_section {
    margin-top: calc(1vw + 56.2px);
    margin-left: calc(14vw - 41.6px);
}


@media (width:1900px) {

    .left_side {
        width:auto;
    }
    .left_side img {
        width: auto;
    }

}
.navigation {
    width: calc(69vw + 109.5px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;

    h2 {
    font-family: 'Raleway';
    font-size: calc(1.53vw + 17.9px);
    font-weight: 500;
    line-height: 44px;
    }
}
.sliders {
    margin-top: 10px;
    width: calc(7.4vw + 320px);
    height: 43px;
    display: flex;
    flex-direction: row;
    gap: 32px;

    button {
    width:135px;
    height: 43px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #376B44;
    color:#F4F6F5;
    border:none;
    }
    .germany:hover {
        background-color: #D4E8D9;
        color:#2C2D35;
        border:none;
    }
    .england:hover {
        background-color: #D4E8D9;
        color:#2C2D35;
        border:none;
    }
    .france:hover {
        background-color: #D4E8D9;
        color:#2C2D35;
        border:none;  
    }

}

/* тут должен быть js */
.main_card_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.card_wrapper {
    margin-left: 15px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #E1EDE6;
}
.card_wrapper img {
    width: 100%;
}
.card_wrapper h4 {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.13px;
    color:#86928B;
}
.card_wrapper h3 {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    line-height: 35.22px;
    color:#2C2D35;
}
.card_wrapper p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.13px;
    color: #2C2D35;
}

.card_wrapper span {
    font-family: 'Raleway';
    font-size: calc(1vw + 18px);
    font-weight: 500;
    line-height: 28.18px;
    text-align: left;
    color:#598D66;
}
.card_wrapper button {
    width: 310px;
    height: 65px;
    padding: 20px 60px 20px 60px;
    gap: 6px;
    background-color:transparent;
    border: 1px solid #598D66;
}

.new_collection {
    width: 100%;
    margin-top: calc(1vw + 56px);
    background-image: url(./img/pic_background.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.new_collection_cointainer {
    padding-top: calc(1.9vw + 42.4px);
    padding-left: calc(14.3vw - 41px);
    width: 100%;
}
.start {
    width: calc(19vw + 244px);
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.start img {
    width: calc(2.87vw + 38.6px);
    height: calc(2.87vw + 38.6px);
    border: 3px solid #EEDB6D;
}
.start h1 {
    font-family: 'Raleway';
    font-size: calc(1.53vw + 18px);
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color:#F4F6F5;
}
.new_theme {
    margin-top: 20px;
    width: calc(23.9vw + 195px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new_theme p {
    font-family: 'Raleway';
    font-size: calc(0.19vw + 15.2px);
    font-weight: 500;
    text-align: left;
    color:#FFFFFF;
}

.new_collection_cointainer button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 257px;
    height: 65px;
    padding: 20px 60px 20px 60px;
    gap: 6px;
    background-color: #EEDB6D;
}

.about_team {
    margin-top: calc(1vw + 54.8px);
    padding-left: calc(14vw - 41.6px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.img_window {
    width: calc(14.8vw + 231px);
}
.img_window img {
    width: calc(14.8vw + 231px);
}
.our_team {
    margin-top: calc(10vw - 11px);
    width: calc(33vw + 159px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.our_team h1 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color:#2C2D35;
}
.our_team p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color:#2C2D35;
}
.rounded_images img {
    width: 80px;
    height: 80px;
}


footer {
    margin-top: calc(2.29vw + 103px);
    padding-top: calc(1vw + 18.8px);
    padding-left: calc(14.3vw - 41.6px);
    background-color: #E1EDE6;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.main_contacts {
display: flex;
flex-direction: column;
gap: 20px;
}
@media (max-width:400px) {
    .main_contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        }

    footer{
        width: 395px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.main_contacts img {
        width:143px;
        height: 35px;
        gap: 8px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.contacts span {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
    color:#2C2D35;    
}
.contacts .second {
    font-family: Raleway;
font-size: 18px;
font-weight: 500;
line-height: 21.13px;
text-align: left;
    color: #86928B;
}

.last {
    width: calc(14.8vw + 231px);
    display: flex;
    flex-direction: row;
    gap: calc(3.82vw + 4.8px);
}
.last div {
    width:128px;

}
div a {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    text-align: left;
}
.main_socials {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.brand {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media (max-width:400px) {
    .main_socials {
        margin-top: 60px;
    }
}
.grey {
    color:#86928B;
}

@media (max-width:400px) {
    .new_collection {width: 395px;}
}
